# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/proofvault?schema=public"

# Stellar Soroban RPC Settings
NEXT_PUBLIC_RPC_URL="https://soroban-testnet.stellar.org"
NEXT_PUBLIC_NETWORK="testnet"
NEXT_PUBLIC_CONTRACT_ID="CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD27B"
